<%-# Turn on debugging if running rails in development mode -%>
<%= debug (params) if Rails.env.development? %>

<%-# Display the image for this thread, along with the opening comment and date the thread was created -%>
<%= if @posts.image.present? ; then image_tag(@posts.image.url) end %>

 <div class="opening_post">
  <b>Anonymous</b> <%= @posts.created_at %> - Post ID:<%= @posts.id %> </br>
  <%= @posts.opening_post %>
 </div>
 <h2> Comment </h2>

 <%-# Create a form to allow users to post comments.  The create_post action in the images controller handles to logic for this -%>
  <div class="form-group"> 
  <%= form_for @comment,  url: create_comment_post_path do |p| %>
  <%= render 'shared/errors', object: @comment %>
  <%= p.text_area :content, class: 'form-control' %>
  <%= p.label :image %>
  <%= p.file_field :image, class: 'form-control'  %>
  <%= p.submit 'Submit', class: 'form-submit' %>
  <% end %>
 </div>
</br>

<%-# Print all comments for this thread in the order that they were created.  Also show comment IDs (NOT image IDs) -%>
<div id="comments">
	<%= render partial: "comment", collection: @comments %>
</div>

